.root{
    min-height: 100vh;    
    display: flex;    
    align-items: flex-start;    
    background-color: #F7FBFF;
}

.searchContainer{
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
}